/* The header should have a height of 400px and be 100% the width of its parent container
The avatar should be centered vertically and horizontally (Hint: the justify-content and align-items properties are helpful for centering things if you're using Flexbox.)
The name should be centered below the avatar
The background-color should be a different colour than the nav and the body */

header {
  height: 400px;
  width: 100%;
  color:#FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #daa520;
  background-image: url("/images/profile-background.png");
}
header  p{
  margin: 0;
  font-size: 40px;
}

