/* Tablet: minimum width of 768px to maximum width of 1024px */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  /* Write Tablet only CSS here */
  #wrapper{
    flex-direction: column;
    margin: 0.83em 0;
  }
  #header{
    width: 100%;
    margin: 20px 0;
    border-radius: 0;
  }
  #tweets-container{
    margin : 1.25em 0;
  }
  label p{
    padding: 0.3em;
  }

}
