nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4em;
  width: 100%;
  padding: 0 0.41em;
  background-color: #FFFFFF;
  color: var(--primary-color) ;
  position:sticky;
  top:0
}
nav img{
  height: 3em;
  width: 5em;
}
nav span{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Raleway', sans-serif;
}
nav span div{
  cursor: pointer;
}

span > i{
  padding-top: 0.125em;
  animation: down-up 2s infinite; /* Adds animation to angled button in nav bar */
}
@keyframes down-up {
  0% { transform: translateY(0); }
  50% { transform: translateY(-6px); }
  100% { transform: translateY(0px); }
}
.red-in-color{
  color: var(--secondary-color) ; 
}