nav{
  display: flex;
  justify-content: space-between;
  height: 120px;
  width: 100vw;
  background-color: #4056A1 ;
  color: #FFFFFF ;
  position:sticky;
  top:0;

}
nav > span{
  font-family: 'Bungee', cursive, sans-serif;
  padding: 1.5em;
  text-align: center;
}
span + span{
  font-family: 'Source Sans Pro', sans-serif;
}
.red-in-color{
  color:#ff0000;
}