.new-tweet{
  margin: 0.416em 0;
}
.validation-message{
  border: 0.08em solid var(--primary-color);
  border-radius: 0.125em;
  padding: 0.208em;
  color: var(--secondary-color);
}
form{
  display:flex;
  flex-direction: column;
}
label p{
  margin: 0;
  padding: 0.208em 0;
  font-family: 'Raleway',sans-serif;
}
form  div{
  display: flex;
  justify-content: space-between;
  padding-top: 0.208em;
}
textarea{
  border: none;
  border-radius: 0.208em;
  background-color: var(--primary-color);
  color: var(--tertiary-color);
  resize: none;
  padding: 0.5em;
  outline: none;
  width: 100%;
  height:3em;
  font-family: 'Hubballi', cursive;
  font-size: 1em;
  font-weight: bold;
  letter-spacing:0.08em;
}
button{
  border-radius: 0.208em;
  color: var(--tertiary-color);
  background-color: var(--secondary-color);
  font-family: 'Raleway', sans-serif;
  font-size: 0.75em;
  border: none;
  cursor: pointer;
}
output{
  color: var(--quaternary-color);
}
/*This class gets added via javascript to counter and validation text*/
.red-in-color{
  color: var(--secondary-color);
}