#tweets-container{
  margin : 1.25em 0;
  color: var(--tertiary-color);
}
.old-tweet{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--primary-color);
  margin: 0.83em 0;
  padding: 1em;
  height: 8em;
  font-family: 'Hubballi', cursive;
  font-size: 1em;
  font-weight: bold;
  border-radius: 0.208em;
}
.old-tweet:hover{
  box-shadow: 0.41em 0.41em var(--secondary-color);
}
.old-tweet_header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.old-tweet_header div{
  display: flex;
  align-items: center;
}
.old-tweet_header img{
  width: 2.08em;
  height: 2.08em;
  padding-right: 0.208em;
}
.old-tweet_footer{
  border-top: 0.125em solid var(--tertiary-color);
}
.old-tweet_footer > div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.208em;
}
.fa-flag:hover, .fa-retweet:hover, .fa-heart:hover{
  cursor: pointer;
  color: var(--secondary-color);
};

